@use "../App.scss" as *;
.lang-select-wrapper {
  display: flex;
}

.lang-select {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 0, 135);
}
